.div-fechar{
    display: flex;
    flex-direction: row;
    .btn-fechar{
      align-self: flex-start;
    }
  }
    .btn-remover{
    position: relative;
      align-self: flex-end;
      --background: #ff3300;
    }
  