<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="cadastrarColaborador()">
        <ion-chip outline color="primary">
          <ion-icon src="../assets/add.svg"></ion-icon>
          <ion-label>
            Cadastrar
          </ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>   
      <ion-chip slot="end" outline color="primary">
        <ion-label (click)="carregarColaboradores()">
          <ion-icon src="../assets/refresh.svg">
          </ion-icon>
        </ion-label>
      </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar Colaborador"
                    [(ngModel)]="querytext"
                    (ionInput)="buscaColaborador(colaborador)"></ion-searchbar>
  </ion-toolbar>
  <h3>Abefarma</h3>
  <ion-list *ngIf="viewBag">
    <ion-item *ngFor="let colaborador of viewBag.colaboradoresAbefarma" (click)="exibirInformacoes(colaborador)">
      <ion-label>{{colaborador.nome}}</ion-label>
        <img src="https://www.abefarma.com.br/Content/Site/images/ABEFarma.png"/>
    </ion-item>
  </ion-list>
  <h3>Consulfarma</h3>
  <ion-list *ngIf="viewBag">  
    <ion-item *ngFor="let colaborador of viewBag.colaboradoresConsulfarma" (click)="exibirInformacoes(colaborador)">
      <ion-label>{{colaborador.nome}}</ion-label>
        <img src="https://www.consulfarma.com/Content/Site/images/logo-consulfarma.gif"/>
    </ion-item>
  </ion-list>
</ion-content>