<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="cadastrarColaborador()">
        <ion-chip outline color="primary">
          <ion-icon src="../assets/add.svg"></ion-icon>
          <ion-label>
            Cadastrar
          </ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>   
      <ion-chip slot="end" outline color="primary">
        <ion-label (click)="carregarColaboradores()">
          <ion-icon src="../assets/refresh.svg">
          </ion-icon>
        </ion-label>
      </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-searchbar
     placeholder="Buscar Colaborador"
                    [(ngModel)]="querytext"
                    (ionChange)="buscaColaborador($event)"
                    debounce="250"
                    clearInput>
    </ion-searchbar>
  </ion-toolbar>
  <h3>Abefarma</h3>
  <ion-list *ngIf="viewBag">
    <ion-item *ngFor="let colaborador of listaParaFiltrarAbefarma" (click)="exibirInformacoes(colaborador)">
      <ion-label color="light">{{colaborador.nome}}</ion-label>
        <img src="../assets/ABEFarmaB.png"/>
    </ion-item>
  </ion-list>
  <h3>Consulfarma</h3>
  <ion-list *ngIf="viewBag">  
    <ion-item *ngFor="let colaborador of listaParaFiltrarConsulfarma" (click)="exibirInformacoes(colaborador)">
      <ion-label color="light">{{colaborador.nome}}</ion-label>
        <img src="../assets/consulfarma-white.png"/>
    </ion-item>
  </ion-list>
</ion-content>