
h3{
    font-family: 'Roboto Condensed', sans-serif;
    src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
    font-weight: 900;
        margin-bottom: 5px;
        color: #009ae7;
        font-size: 17px;
}
.blue{
    color:#009ae7;
}

img{ 
    width: 110px;
    height: auto;
}