<ion-header>
  <ion-toolbar>         
    <ion-title>
      <ion-chip outline color="primary">
        <ion-label (click)="carregarColaboradores()">
          <h3>
          <ion-icon name="sync">
          </ion-icon>
          Atualizar
          </h3>
        </ion-label>
      </ion-chip>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cadastrarColaborador()">
        <ion-chip outline color="primary">
          <ion-label>
            Cadastrar
          </ion-label>
          <ion-icon name="person-add"></ion-icon>
        </ion-chip>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar Colaborador"
                    [(ngModel)]="querytext"
                    (ionInput)="buscaColaborador()"></ion-searchbar>
  </ion-toolbar>
  <h3>Abefarma</h3>
  <ion-list *ngIf="viewBag">
    <ion-item *ngFor="let colaborador of viewBag.colaboradoresAbefarma" (click)="exibirInformacoes(colaborador)">
      <ion-label>{{colaborador.nome}}</ion-label>
      <ion-avatar slot="end">
        <img [src]="colaborador.foto">
      </ion-avatar>
    </ion-item>
  </ion-list>
  <h3>Consulfarma</h3>
  <ion-list *ngIf="viewBag">
    <ion-item *ngFor="let colaborador of viewBag.colaboradoresConsulfarma" (click)="exibirInformacoes(colaborador)">
      <ion-label>{{colaborador.nome}}</ion-label>
      <ion-avatar slot="end">
        <img [src]="colaborador.foto">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>