<ion-header>
  <ion-toolbar>
    <ion-title>
      Wifi's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="wifi"></ion-icon>
      <ion-label>ALUNOS</ion-label>
      <ion-text>Senha: alunoscosmet</ion-text>
    </ion-item>
    <ion-item class="tamanho-texto">
      <ion-icon name="wifi"></ion-icon>
      <ion-label>REDE</ion-label>
      <ion-text>Usuario: teste.01 Senha: Mudar123456</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="wifi"></ion-icon>
      <ion-label>Abefarma-CEL</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wifi"></ion-icon>
      <ion-label>Consulfarma-CEL</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
