<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3>
        <ion-icon src="../assets/opcoes.svg"></ion-icon>
      Ferramentas
      </h3>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h3>WIFI</h3>
  <div class="list">
    <div class="item" *ngFor="let wifi of wifis" (click)="exibirInformacoesWifi(wifi)">
      <div class="title">
        <h3>{{wifi.nome}}</h3>
        <p>Clique para mais informações</p>
      </div>
      <ion-icon src="../assets/wifi.svg"></ion-icon>
    </div>
  </div>
    <h3>Email</h3>
    <div class="list">
      <div class="item" *ngFor="let email of emails" (click)="exibirInformacoesEmail(email)">
        <div class="title">
          <h3>{{email.nome}}</h3>
          <p>Clique para mais informações</p>
        </div>
        <ion-icon src="../assets/outlook.svg"></ion-icon>
      </div>
    </div>
    
      <h3>Impressoras</h3>
      <div class="list">
        <div class="item" *ngFor="let impressora of impressoras" (click)="exibirInformacoesImpressora(impressora)">
          <div class="title">
            <h3>{{impressora.nome}}</h3>
            <p>Clique para mais informações</p>
          </div>
          <ion-icon name="print"></ion-icon>
        </div>
      </div>
      <br>
      <br>
</ion-content>