.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  --ion-background-color: #1A3152;

}
.div-finalizar{
  display: flex;
  flex-direction: column;
  .btn-finalizar{
    align-self: flex-end;
    --background: #33cc33;
  }
}

h3{
      margin-bottom: 5px;
      color: #fff;
      font-size: 15px;
}
.div-atualizar{
  block-size: 10px;
}

#cabecalho{
  --ion-background-color: #363435;
}

#chip{
  color: white;
  
}

h2{
  color: #fff;
}

p{
  color: #bfbfbf;
}
.logo{
  padding-left: 5x;
  img{
      width: 150px;
      height: auto;
  }
}
.preenchimento{
  padding: 5px;
}

#container {
  overflow: hidden;
  width: 100%;
  min-height: 36px; /* Remember absolute positioning is outside the page flow! */
  position: relative;
}
#elementoEsq {
  position: absolute;
  font-size: 3px;
}
#elementoMid {
  left: 30%;
  position: relative;
  width: 10px;
}
#elementoDir {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 100px;
  img{
    width: 500px;
    height: auto;
  }
}

#fundoRoxo{
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: #5c1eff;
  border-radius: 30px;
  margin-left: 5%;
  margin-top: 10%;
}

#tamanhoChamados{
  display: flex;
  align-items: center;
  padding: 7px;
  width: 50%;
  height: 50%;
}