<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3>
        <ion-icon name="paper"></ion-icon>
      Chamados Abertos
      </h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="carregarChamados()">
        <ion-chip outline color="primary">
          <div class="div-atualizar">
          <ion-label>
            Atualizar
          </ion-label>
          </div>
          <ion-icon name="sync"></ion-icon>
        </ion-chip>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card" *ngFor="let chamado of viewBag?.atendimentos">
    <ion-card-header>
      <ion-card-subtitle>{{chamado.nome}}</ion-card-subtitle>
      <ion-card-title>{{chamado.assunto}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{chamado.descricao}}</p>
    </ion-card-content>
    <div class="div-finalizar">
      <ion-button (click)="finalizarChamado(chamado.atendimentoId)" size="small" class="btn-finalizar">
        finalizar</ion-button>
    </div>
  </ion-card>
</ion-content>