<ion-header>
  <ion-toolbar>
    <ion-title>
      Chamados Abertos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="carregarChamados()">
        Atualizar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" *ngFor="let chamado of viewBag?.atendimentos">
    <ion-card-header>
      <ion-card-subtitle>{{chamado.nome}}</ion-card-subtitle>
      <ion-card-title>{{chamado.assunto}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{chamado.descricao}}</p>
    </ion-card-content>
    <div class="div-finalizar">
      <ion-button (click)="finalizarChamado(chamado.atendimentoId)" fill="outline" size="small" class="btn-finalizar">
        finalizar</ion-button>
    </div>
  </ion-card>
</ion-content>