.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  --ion-background-color: #1a3152;
}
.div-finalizar {
  display: flex;
  flex-direction: column;
  .btn-finalizar {
    align-self: flex-end;
    --background: #33cc33;
    h3 {
      margin-bottom: 15px;
      color: #fff;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

.div-atualizar {
  block-size: 10px;
}

#cabecalho {
  --ion-background-color: #151515;
}

#chip {
  color: white;
}

h2 {
  color: #fff;
}

p {
  color: #bfbfbf;
}
.logo {
  padding-left: 5x;
  img {
    width: 150px;
    height: auto;
  }
}
.preenchimento {
  padding: 5px;
}

#container {
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: px; /* Remember absolute positioning is outside the page flow! */
  position: relative;

  img{
    width: auto;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0;
  }
}
#elementoEsq {
  position: absolute;
  font-size: 3px;
}
#elementoMid {
  left: 30%;
  position: relative;
  width: 10px;
}
#elementoDir {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 100px;
  img {
    width: 500px;
    height: auto;
  }
}

.fundo-roxo {   
  padding: 20px;
  background-color: #5c1eff;
  border-radius: 30px;
  width: 100%;
  margin: 10px 20px;
  min-height: 240px;

     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: left;

    h3.titulo-chamado {
      font-weight: 900;
      font-size: 21px;
      color: #fff;
    }

    .autor {
      display: flex;
      align-items: center;
      .foto-autor {
        width: 48px;
        height: 48px;
        background-image: url("http://www.intranet.icosmetologia.com.br/Arquivos/Usuario/Foto-093158.jpg");
        background-size: 160%;
        background-position: top center;
        border-radius: 50%;
        margin-right: 10px;
      }
      .nome-departamento {
        width: 100%;
        h3.nome {
          color: #fff;
          font-weight: 900;
          font-size: 17px;
          margin: 0;
        }
        p.cargo {
          font-weight: lighter;
          font-size: 12px;
          margin: 0;
          color: #fff;
        }
      }
  
  }
}

.foto-colaborador{
  width: 48px;
  height: 48px;
  background-image: url("http://www.intranet.icosmetologia.com.br/Arquivos/Usuario/Foto-093158.jpg");
  background-size: 160%;
  background-position: top center;
  border-radius: 50%;
  margin-right: 1px;
  margin-top: 30px;
}

.boas-vindas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3{
          color: #fff;
          font-weight: 900;
          font-size: 17px;
          margin: 0;
          padding-bottom: 5px;

  }
  p{
          color: #878787;
          font-size: 12px;
          margin-top: 30px;
  }
}

#tamanhoChamados {
  display: flex;
  align-items: center;
  padding: 7px;
  width: 50%;
  height: 50%;
}
.container-linha{
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
 .nome-chamados{

  display: flex;
  margin-right: 60px;
  margin-bottom: 5px;

  }
  h3{
    color: #fff;
    --ion-font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
}


}
.container-linha-baixo{
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
 .nome-contatos{

  display: flex;
  margin-right: 60px;
  margin-top: 0px;

  }
  h3{
    color: #fff;
    --ion-font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
  }
  .btn-ver-mais{
    margin-top: 5px;
    margin-left: 50px;
  }
}
.contato{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 10px;
  
  width: 50px;
  .foto-colaborador{
    width: 48px;
    height: 48px;
    background-image: url("http://www.intranet.icosmetologia.com.br/Arquivos/Usuario/Foto-093158.jpg");
    background-size: 160%;
    background-position: top center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
  h3{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
  }
}
