<ion-tabs class="fundo">

  <ion-tab-bar class="fundoBar"slot="bottom">
    <ion-tab-button tab="home">
      <ion-content>
      <ion-icon id="quadradoVermelho" src="../assets/quadrado.svg"></ion-icon>
      </ion-content>
      <ion-label>Resumo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ferramentas">
      <ion-content>
        <ion-icon id="quadradoBranco" name="hammer"></ion-icon>
        </ion-content>
        <ion-label>Ferramentas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="chamados">
      <ion-content>
        <ion-icon id="quadradoVerde" name="filing" color="light"></ion-icon>
        </ion-content>
        <ion-label>Chamados</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="colaboradores">
      <ion-content>
        <ion-icon id="quadradoRoxo" src="../assets/person.svg"></ion-icon>
        </ion-content>
        <ion-label>Colaboradores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>