<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Colaborador</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-card *ngIf="viewBag">
        <ion-card-header>
          <ion-card-subtitle>{{viewBag.colaborador.empresa}}</ion-card-subtitle>
          <ion-card-title>{{viewBag.colaborador.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon slot="start" mode="ios" name="wifi"></ion-icon>
            <ion-label>
              <h2>Usuario WIFI:</h2>
              <h3>Login: {{viewBag.colaborador.colaboradorRede.usuario}}</h3>
              <h3>Senha: {{viewBag.colaborador.colaboradorRede.senha}}</h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" src="../assets/windows.svg"></ion-icon>
            <ion-label>
              <h2>Usuario Windows</h2>
              <h3>Login: {{viewBag.colaborador.colaboradorWindows.usuario}}</h3>
              <h3>Senha: {{viewBag.colaborador.colaboradorWindows.senha}}</h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" src="../assets/outlook2.svg"></ion-icon>
            <ion-label>
              <h2>Email:</h2>
              <h3>{{viewBag.colaborador.email}}</h3>
            </ion-label>
          </ion-item>

        </ion-card-content>
      </ion-card>
      <ion-row>
      <div class="alinhaBotao">
      <ion-button color="primary" (click)="fecharModal()">Fechar</ion-button>
      </div>
      <div class="separarBotao">
      <ion-button color="primary" (click)="removerColaborador()">remover </ion-button>
    </div>
      </ion-row>
    </ion-content>