ion-title{
  --background: null;
        background-color: #171717;
}

h3{
    font-weight: 900;
        margin-bottom: 5px;
        color: #fff;
        font-size: 17px;

}

.foto-colaborador{
  width: 48px;
  height: 48px;
  background-image: url("http://www.intranet.icosmetologia.com.br/Arquivos/Usuario/Foto-093158.jpg");
  background-size: 160%;
  background-position: top center;
  border-radius: 50%;
  margin-right: 1px;
  margin-top: 30px;
}

.fundo-roxo {   
  padding: 15px;
  background-color: #5c1eff;
  border-radius: 30px;
  width: 85%;
  margin: 0px 20px;
  min-height: 130px;
}

.ajuste{
  display: flex;
}