<body>
  <div class="ajuste">

  
  <div class="quadrado-branco">

    <div class="foto">
     <img src="../assets/ABEFarma.png"> 
     <div class="texto">
      <h3>Intranet 2.0</h3>
    </div>
    <div class="input">
      <div class="login">
      <ion-input class="centro" type="text" placeholder="Usuario"></ion-input>
      </div>
      <div class="senha">
      <ion-input class="centro" type="password" placeholder="Senha"></ion-input>
      </div>
      <div class="btn-entrar">
        <ion-button size="small" color="tertiary" expand="block" shape="round">Entrar</ion-button>
      </div>
    </div>

    </div>
  </div>
  </div>
</body>
