<ion-content forceOverscroll="false">


  <div class="corpo">
    <div class="logo"> <img src="../assets/ABEFarmaB.png"></div>
  
    <div class="campos">
      
      <ion-input type="text" placeholder="Usuario"></ion-input>

      <ion-input type="password" placeholder="Senha"></ion-input>

      <ion-button size="small" color="none" expand="block">Entrar</ion-button>

    </div>
    <div class="rodape">
      <h3>Esqueceu a Senha?</h3> <a href="https://www.google.com">Clique aqui</a>
    </div>
  </div>



 
  <!-- 
  <div class="ajuste">
    <div class="foto">
      <img src="../assets/ABEFarmaB.png">
      <div class="input">
        <div class="login">
          <ion-input class="centro" type="text" placeholder="Usuario"></ion-input>
        </div>
        <div class="senha">
          <ion-input class="centro" type="password" placeholder="Senha"></ion-input>
        </div>
        <div class="btn-entrar">
          <ion-button size="small" color="none" expand="block">Entrar</ion-button>
        </div>
      </div>
    </div>
    <div class="texto">
      <h3>Esqueceu a Senha?</h3> <a href="https://www.google.com">Clique aqui</a>
    </div>
  </div> -->
</ion-content>