ion-content {
  --background: null;
  background-image: url("/assets/background-gradient.svg");
  background-size: cover;
}

.corpo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  .logo {
    max-width: 200px;
  }

  .campos{
      width: 80\%;
    ion-input {
        --background: null;
        background-color: #383838;
        width: 100%;
        text-align: center; 
        border-radius: 500px;
        color: #fff;
    }

    ion-input:not(:first-child) {
        margin-top: 10px;
        padding-right: 5px;
    }

    ion-button{
        background-color: #309ac1;
        max-width: 60%;
        border-radius: 500px;
        margin: 0 auto;
        margin-top: 25px;
    }
  }
  .rodape {
    color: #fff;
    display: flex;
    h3 {
      font-size: 12px;
    }
    a{
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        color: #309ac1;
        margin-top: 15px;
        margin-left: 5px;
    }
  }
}
 