
ion-title{
  --background: null;
        background-color: #171717;
}

h3{
        font-weight: 900;
        margin-bottom: 5px;
        color: #fff;
        font-size: 17px;
}

.list {
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
    background-color: #5c1eff;
    margin-bottom: 15px;
    border-radius: 6px;
    .title {
      h3,
      p {
        margin: 0;
      }
      h3 {
        font-weight: 900;
        margin-bottom: 5px;
        color: #fff;
      }
      p {
        font-size: 10px;
        color: #fff;
      }
    }
    ion-icon {
      font-size: 30px;
      color: #000;
    }
    ion-title{
        font-weight: 900;
        color: #009ae7;
    }
  }
}

img{ 
  width: 37%;
  height: auto;
}

.email{
--background: #e6e6e6;
border: 1px solid #000000;
border-radius: 10px;
}

.wifi{ 
  width: 30px;
  height: auto;
}